<div class="container p-3">
  <div class="row">
    <div class="col-12 col-xl-3">
      <app-movie-filter (filter)="handleFilter($event)" />
    </div>
    <div class="col-12 col-xl-9">
      <h1 class="mt-2 mt-xl-0">Movies</h1>
      <div *ngIf="!isLoading && page; else loading" class="mt-1 g-3 row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
        <div *ngFor="let movie of page.content | paginate: {
          id: 'movies-pagination',
          itemsPerPage: pageSize,
          currentPage: page.number + 1,
          totalItems: page.totalElements }" class="col">
          <app-movie-card [movie]="movie" />
        </div>
      </div>
      <ng-template #loading>
        <div class="mt-1 mb-3 g-3 row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
          <div class="col" *ngFor="let i of [1, 2, 3, 4]">
            <app-movie-card-loader />
          </div>
        </div>
        <app-pagination-loader />
      </ng-template>

      <div *ngIf="!isLoading">
        <app-pagination [id]="'movies-pagination'" (pageChange)="pageChanged($event)"/>
      </div>
    </div>
  </div>


</div>
