<div class="card">
  <img src="../../assets/imgs/loading.PNG" class="card-img-top" alt="loading" />
  <div class="card-body">
    <h5 class="card-title placeholder-glow">
      <span class="placeholder col-12"></span>
      <span class="placeholder col-6"></span>
    </h5>
    <p class="card-text placeholder-glow">
      <span class="placeholder col-12"></span>
      <span class="placeholder col-9"></span>
    </p>
    <a class="btn btn-primary disabled placeholder col-2 me-2"></a>
    <a class="btn btn-danger disabled placeholder col-5 me-2"></a>
    <a class="btn btn-primary disabled placeholder col-3"></a>
  </div>
</div>
