<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="#">Movie flix</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movies">Movies</a>
        </li>
        <li *ngIf="tokenService.isWorkerOrAdmin()" class="nav-item">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
      </ul>
      <ul *ngIf="!isAuth(); else logged_navbar" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/register">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link login-link" routerLink="/auth/login">Login</a>
        </li>
      </ul>
      <ng-template #logged_navbar>
        <ul *ngIf="isAuth()" class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">{{ getUser() }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#" (click)="logout()">Logout</a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
